.btn,
.btn-default{
  border: none;
  transition: all .2s ease;
}

.btn:focus,
.btn:active{
  outline: none !important;
  box-shadow: none;
}

.btn-sm{
  height: 30px;
  border-radius: 2px;
}

.btn-default:hover{

}