.summary{
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 300;
  background: rgba(51, 95, 182, 0.18);
  position: relative;

  .counter{
    position: absolute;
    top: 24px;
    left: 32px;
    color: #5f5e5e;
    font-size: 12px;
  }

  span{
    padding: 0 15px;
  }

  span:first-child{
    border-right: 1px solid $color-border-light;
  }

  small{
    font-size: 50%;
  }
}