.panel-table {
  border: none;
  overflow: hidden;

  .panel-body {
    padding: 0;
  }

  table{
    margin-bottom: 0;
  }

  table th{
    padding: 5px 10px !important;
    font-weight: 500;
  }
  table td{
    padding: 7px 2px !important;
    vertical-align: middle !important;
    font-size: 12px;
    vertical-align: middle;
  }

  table td.green{
    color: green;
  }

  table td.red{
    color: red;
  }

  table td.td-wrapper{
    padding: 0 !important;
  }

  .inner-table{
    width: 100%;
  }

  .table > thead th{
    border-width: 1px;
  }

  .table > thead th,
  .table > tbody td,
  .table > tfoot th {
    background: none;
  }

  .table > tbody > tr > td{
    border: none;
  }

  .table thead th{
    padding: 12px 10px !important;
    font-size: 12px;
    font-weight: 300;
  }

  .index{
    width: 30px;
    padding-left: 10px !important;
    padding-right: 0 !important;
  }

  .symbol{
    min-width: 130px;
    width: 25%;
  }

  .count{
    width: 110px;
  }

  .price_btc{
    width: 110px;
  }

  .sum_btc{
    min-width: 110px;
  }

  .price_currency{
    width: 90px;
  }

  .sum_currency{
    width: 90px;
  }

  .actions{
    width: 105px;
  }

  .symbol img{
    position: relative;
    margin: -1px 3px 0 0;
  }

  .symbol .note{
    color: $color-gray;
  }

  .actions span{
    opacity: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    display: inline-block;
    transition: all .2s ease;
    vertical-align: middle;
  }

  .actions span:hover{
    color: green;
  }

  .actions span.icon-delete-garbage-streamline:hover{
    color: red;
  }

  .table td:hover span[class*="icon-"]{
    opacity: 1;
  }
}