<div class="container" ng-controller="FooterCtrl as $ctrl">
    <div class="app-footer">
        <div class="counter" ng-show="$ctrl.storage.coins.length > 0">
            Next update in {{$ctrl.getCounter()}}
        </div>
        <ul>
            <li>
                <a href="https://github.com/whitesunset"
                   target="_blank"
                   title="Source code">
                    <span class="icon-github-square"></span>
                </a>
            </li>
        </ul>
    </div>
</div>