html{
  min-height: 100%;
}

body{
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.colorful {
  background: -webkit-gradient(linear, left top, left bottom, from(#5E2EAE), to(#3162B6));
  background: linear-gradient(#5E2EAE, #3162B6);
}